.campo-texto {
	margin: 24px 0;
}

.campo-texto label {
	display: block;
	margin-bottom: 8px;
	font-size: 18px;
}

.campo-texto input {
	background: #ffffff;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	border: none;
	width: 100%;
	font-size: 15px;
	padding: 15px;
	box-sizing: border-box;
}
